body, ul, li {
    display: flex;
    flex-wrap: wrap;
    
}

section {
    background-color: lightgray;
}

ul {
    justify-content: space-between;
    align-items: stretch;
}

li {
    border: 10px solid black;
    margin: 100px;
    padding: 30px 20px;
    background-color: white;
    box-sizing: border-box;
    list-style: none;
    align-items: center; 
    justify-content: center;
}

img {
    text-align: center;
    margin: 0 auto;
}