@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Courgette', cursive;
    background-color: #f5f5f5;
}

.main {
    margin-top: 5rem;
    text-align: center;
}

.main > h1 {
    font-size: 48px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
   
    
}

.card img {
    height: 250px;
    width: 400px;
  background: transparent no-repeat center;
  background-size: cover;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.design {
    color: red;
    margin-left: 8rem;
    margin-bottom: 2rem;
    font-size: 24px;
}

.card i {
    background-color: red;
    border: 4px;
    border-radius: 50%;
    width: 16px;
    margin-left: 6px;
    vertical-align: middle;
}

.card a {
    text-decoration: none;
    color: black;
    
}

.card {
    background-color: white;
    height: 22em;
    border-radius: 8px;
}

