table {
    display: flex;
    justify-content: center;
    margin: 30px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

td,
th {
    border: 1px solid gray;
    width: 200px;
    padding-left: 5px;
}

th {
    background-color: #333333;
    color: white;
}

.person-desk th {
    text-align: start;
}


@media all and (max-width: 400px) {

    table.desktop-table {
        display: none;
    }

   .mobile-table tr:nth-child(6n+1),
   .mobile-table tr:nth-child(6n+2),
   .mobile-table tr:nth-child(6n+3) {
      background: #f1f1f1;
    }
    
    table.mobile-table {
        text-align: start;
    }
}