@media(max-width: 600px) {

    .tm-nav ul {
        margin-left: 34rem;
    }

    .tm-section-title {
        width: 70%;
        font-size: 40px;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .tm-paging-item {
        width: 170px;
    }

    .tm-gallery-page {
        margin: 0;
        flex-direction: column;
        align-items: center;
    }

    .tm-gallery {
        margin-left: 0;
        flex-direction: column;
        align-items: center;

    }

    .row {
        flex-direction: column;
    }

}